
.noto-serif-heading{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-description{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

*{
    box-sizing: border-box;
}
.nav_item{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    
}

.nav_ul{
    display: flex;
    gap: 40px;
}
nav ul li{
    list-style: none;
} 

nav ul a{
    text-decoration: none;
}

.hedding-text{
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 0;
}

.heading-text-color{
    color: #E95A08;
}

.primary-text{
    font-size: 3.12rem;
    font-weight: bold;
}

.secondary-text{
    font-size: 1.3rem;
    font-weight: normal;
}

.banner-section{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 150px;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    /* position: relative; */
}

.banner-section-img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.plants-section{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.plants-section-text{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.plants-heading{
    margin-bottom: auto;
}

.plants-section-photos{
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.plants-sample-img{
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
}

#plants-text{
    font-weight: 500;
}

#plants-price{
    font-weight: 700;
}

.cart-button{
    background-color: #E95A08;
    color: white;
    width: 100%;
    max-width: 270px;
    height: 50px;
    padding: 15px 40px;
    border-color: #E95A08;
}

.plants-store-section{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: -70px;
    padding: 0 20px;   
}

.plants-store-trusted{
    width: 280px;
    height: 280px;
    position: relative;
    left: 250px;
    bottom: -200px;
}

.plants-store-content{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 60px;
}

.plants-store-img{
    width: 100%;
}

.plants-store-text{
    margin-top: -30px;
}

.plants-sotre-list li{
    margin-bottom: 20px;    
}

.deals-section{
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;
}

.deals-section-text{
    max-width: 900px;
    margin: 150px auto;
    text-align: center;
}

.deals-section-text h3{
    margin-bottom: 0;
}

.typs-of-plants{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0;
}

.bloom-ana-plants{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: -100px;
}

.zabo-plants{
    width: 100%;
    height: auto;
    position: relative;
    margin-left: -100px;
}

.zabo-text{
    position: absolute;
    left: 180px;
    top: 25%;
}

#zabo-discount-text{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0;
}

#zabo-link-text{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
}

.deals-plants-img{
    border-radius: 10px;
    max-width: 350px;
    height: auto;
}

.deals-plants-zabo-img{
    border-radius: 10px;
    max-width: 750px;
    height: auto;
}

.bloom-plants{
    position: relative;
    margin-bottom: 10px;
}

.bloom-text{
    position: absolute;
    left: 100px;
    top: 20%;
    
}

.discount-text{
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0;
}

.link-text{
    color: white;
    font-size: 1.1rem;
}

.ana-plants{
    position: relative;
    margin-top: 10px;
}

.ana-text{
    position: absolute;
    left: 100px;
    top: 20%;
    
}





@media screen and (width <= 500px) {
    .hide-us{
        display: none;
    }
    
    .hedding-text{
        font-size: 2.5rem;
    }

    .secondary-text{
        font-size: 1rem;
    }

    .banner-section{
        display: flex;
        flex-direction: column-reverse;
    }

    .plants-section-photos{
        grid-template-columns: repeat(2, 1fr);
    }

    .cart-button{
        padding: 10px 20px;
    }

    .plants-sample-img{
        max-width: 100%;
        margin-right: 0;
    }

    .plants-store-content{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 100px;
        
        /* display: grid;
        grid-template-columns: repeat(1fr);
        margin-top: 100px; */
    }

    .plants-store-text {
        margin-top: 0;
        padding: 0 20px;
  }
    
    .typs-of-plants{
        display: flex;
        flex-direction: column;
    }

    .bloom-ana-plants{
        margin: auto;
    }

    .zabo-plants{
        margin: auto;
    }

    .zabo-plants img{
        max-width: 360px;
    }

    .zabo-text{
        top: 30%;
        left: 130px;
    }

    #zabo-discount-text{
        font-size: 1.1rem;
    }
    
    #zabo-link-text{
        font-size: 1rem;
    }
    
}